litellm_settings:
  drop_params: true

model_list:
  - model_name: deepseek-r1
    litellm_params:
      model: ollama/deepseek-r1:1.5b
      api_base: http://ollama:11434
      api_key: "ollama"   # Ollama không cần key, nhưng LiteLLM muốn có string

  - model_name: ollama-embed
    litellm_params:
      model: ollama/nomic-embed-text
      api_base: http://ollama:11434
      api_key: "ollama"



general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY